* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #F7F9Fb;
}

h3 {
	text-align: center;
	margin-top: 15px;
}

.nav-link {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 25px 15px;
	color: #F7F9Fb;
}

a.nav-link:hover {
	background-color: #8FC1E3;
}

#nav-bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31708E;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.right {
	float: right;
}

.image {
	float: left;
	width: 70px;
	height: 70px;
}

.head {
	float: left;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3%;
  background-color: #31708E;
  text-align: center;
}

.title {
	margin: 10px;
}

.sub {
	margin: 10px;
}

.benefits {
	padding: 5vh 0;
	background-color: #8FC1E3;
	z-index: -1;
}

.products {
	padding: 5vh 0;
	background-color: #5085A5;
	z-index: -1;
}

.benefits-title {
	color: #F7F9Fb;
	text-align: center;
}

.container {
	margin: 7vh 2% 0 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.item {
	text-align: center;
	flex: 0 1 32%;
}

.item-lg {
	text-align: right;
	flex: 0 1 50%;
}

.item-sm {
	text-align: center;
	flex: 0 1 30%;
}

.label {
	font-size: 18px;
}

.product-card {
	border: 2px solid #F7F9Fb;
	border-radius: 5%;
	flex: 0 1 23%;
	margin: 1vh 0;
	text-align: center;
	background-color: #F7F9FB;
}

.product-img {
	border-radius: 5%;
	width: 93%;
	max-height: 50%;
	max-width: 250px;
	min-width: 150px;
	margin: 5% 0;
}

.add-cart {
	border: 2px solid #31708E;
	color: #31708E;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 5%;
	padding: 10px 15px;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 5%;
}

.prod-desc {
	color: #31708E;
	margin-bottom: 5%;
}

.recipes {
	padding: 5vh 0;
	background-color: #31708E;
	z-index: -1;
}

#email {
	width: 100%;
	border: 0px;
	height: 2vh;
}

#submit {
	background-color: #F7F9Fb;
	color: #31708E;
	margin: 1vh auto;
	padding: 1vh;
	display: block;
	font-size: 1rem;
	font-family: inherit;
}

#header-img {
	width: 100%;
}

#header {
	background: url(underwater.jpg) no-repeat center center fixed; 
	background-size: cover;
	height: 100vh;
}

