* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #F7F9Fb;
}

.nav-link {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 25px 15px;
	color: #F7F9Fb;
}

a.nav-link:hover {
	background-color: #8FC1E3;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31708E;
	position: fixed;
	width: 100%;
	z-index: 1;
}

li {
	float: right;

}

.image {
	float: left;
	width: 70px;
	height: 70px;
}

.head {
	float: left;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #31708E;
  border-radius: 40%;
}

.desc {
	flex: 1;
}

.title {
	margin: 20px;
	text-align: center;
}

.benefits {
	padding-top: 7vh;
	height: 100vh;
	background-color: #5085A5;
	z-index: -1;
}

.benefits-title {
	color: #F7F9Fb;
	text-align: center;
}

.container {
	margin-top: 10vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.description {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: 50vh;
	flex: 0 1 50vw;
}

.sign-up {
	flex: 0 1 50vw;
}

#header-img {
	width: 100%;
}

#header {
	background: url(underwater.jpg) no-repeat center center fixed; 
	background-size: cover;
	height: 100vh;
}